.wy-nav-content {
    max-width: 900px !important;
}

.sphinx-tabs div.menu a.item{
    padding: 0.5em !important;

}

.sphinx-tabs div.menu a p {
    font-weight: normal !important;
}

.red {
  color: red;
}

.fuchsia {
  color: fuchsia;
}